{% extends "base.html" %}
  
{% block title %}Add Country{% endblock title %}
 
{% block content %}
<h1>Add a person to our database</h1>
  
  {% if submitted %}
      <p class="success">
         Your venue was submitted successfully. Thank you.
     </p>
 
 {% else %}
     <form action="" method="post" novalidate>
    <table>
         {{ form.as_table }}
             <tr><td>&nbsp;</td></tr>
             <tr><td>NRC<input type="text" name="nrc"></td></tr>
             <tr><td>labour id <input type="text" name="labour_id"></td></tr>
             <tr><td>Occupation <input type="text" name="occupation"></td></tr>
             <tr><td>name<input type="text" name="name"></td></tr>
             <tr><td>race<input type="text" name="race"></td></tr>
             <tr><td>religion<input type="text" name="religion"></td></tr>
             <tr><td>Father name<input type="text" name="father_name"></td></tr>
             <tr><td>Father nrc<input type="text" name="father_nrc"></td></tr>
             <tr><td>date of birth<input type="text" name="dob"></td></tr>

              <tr><td>marital_status<input type="text" name="marital_status"></td></tr>
              <tr><td>spouse name<input type="text" name="spouse_name"></td></tr>

              <tr><td>spouse NRC<input type="text" name="spouse_nrc"></td></tr>
             <tr><td><input type="submit" value="Submit"></td></tr>
     </table>
     {% csrf_token %}
     </form>
 {% endif %}
 {% endblock content %}
