{% extends "main_base.html" %}
  
{% block title %}Add Country{% endblock title %}
 
{% block content %}
  
  {% if submitted %}
    <div class="page-wrapper  p-t-45 p-b-50">

    <div class="wrapper wrapper--w790">

    <div class="card card-5">

    <div class="card-heading">


    </div>

    <div class="card-body">
 <p class="success" style="font-size: 20px; ">
         Your request was submitted successfully. Thank you.
     </p>
 
   
         </div>
    </div>
    </div>
    </div>
    </div>
    
 
 {% else %}
   <div class="page-wrapper  p-t-45 p-b-50">

    <div class="wrapper wrapper--w790">

    <div class="card card-5">

    <div class="card-heading">

        <h2 class="title">Request approval for address</h2>

    </div>

    <div class="card-body">

     <form action="" method="post" novalidate>

        <!--NRC-->
    <div class="form-row">

    <div class="name">NRC</div>

    <div class="value">

    <div class="input-group">

        <input class="input--style-5" type="text" name="nrc">

    </div>

    </div>
    </div>

    <div class="value">

    <div class="input-group">

  </div>

    </div>

<br/>

  <button class="btn submit" type="submit">REQUEST</button>
     {% csrf_token %}
     </form>
         </div>
    </div>
    </div>
    </div>
    </div>

 {% endif %}
 {% endblock content %}
