{% extends 'main_base.html' %}
{% load static %} 
{% block title %}Add Crime Record{% endblock title %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>retrieve</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->  
  <link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/util_table.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
  {% block content %}
  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver1 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column2">Name</th>
                  <th class="cell100 column3">NRC</th>
                  <th class="cell100 column2">Race</th>
                  <th class="cell100 column2">Religion</th>
                  <th class="cell100 column2">Father Name</th>
                  <th class="cell100 column2">Father NRC</th>
                  <th class="cell100 column4">Date Of Birth</th>

                </tr>

              </thead>
            </table>

          </div>

          <div class="table100-body js-pscroll">
            <table>
              <tbody>
              {% for b in TestModel %}
                <tr class="row100 body">
                  <td class="cell100 column2">{{ b.name }}</td>
                  <td class="cell100 column3">{{ b.nrc }}</td>
                  <td class="cell100 column2">{{ b.race }}</td>
                  <td class="cell100 column2">{{ b.religion }}</td>
                  <td class="cell100 column2">{{ b.father_name }}</td>
                  <td class="cell100 column2">{{ b.father_nrc }}</td>
                  <td class="cell100 column4">{{ b.dob }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
</div> 
      <!--end test-->
       </div>
    </div>
  </div>

  <div class="limiter">
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100 ver1 m-b-110">
          <div class="table100-head">
            <table>
              <thead>
                <tr class="row100 head">
                  <th class="cell100 column2">Name</th>
                  <th class="cell100 column3">NRC</th>
                  <th class="cell100 column2">Race</th>
                  <th class="cell100 column2">Religion</th>
                  <th class="cell100 column2">Father Name</th>
                  <th class="cell100 column2">Father NRC</th>
                  <th class="cell100 column4">Date Of Birth</th>

                </tr>

              </thead>
            </table>

          </div>

          <div class="table100-body js-pscroll">
            <table>
              <tbody>
              {% for b in TestModel %}
                <tr class="row100 body">
                  <td class="cell100 column2">{{ b.name }}</td>
                  <td class="cell100 column3">{{ b.nrc }}</td>
                  <td class="cell100 column2">{{ b.race }}</td>
                  <td class="cell100 column2">{{ b.religion }}</td>
                  <td class="cell100 column2">{{ b.father_name }}</td>
                  <td class="cell100 column2">{{ b.father_nrc }}</td>
                  <td class="cell100 column4">{{ b.dob }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
</div> 
      
       </div>
    </div>
  </div>

            {% endblock content %}

<!--===============================================================================================-->  
  <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
  <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
  <script>
    $('.js-pscroll').each(function(){
      var ps = new PerfectScrollbar(this);

      $(window).on('resize', function(){
        ps.update();
      })
    });
      
    
  </script>
<!--===============================================================================================-->
  <script src="{% static 'js/main.js' %}"></script>

</body>
</html>