{% extends "base.html" %}
  
{% block title %}Add Country{% endblock title %}
 
{% block content %}
<h1>Update a person to our database</h1>
  
  {% if submitted %}
      <p class="success">
         a person was updated successfully. Thank you.
     </p>
 
 {% else %}
     <form action="" method="post" novalidate>
    <table>
         {{ form.as_table }}
             <tr><td>&nbsp;</td></tr>
             <tr><td>NRC<input type="text" name="nrc"></td></tr>
             <tr><td>attribute<input type="text" name="attribute"></td></tr>
             <tr><td>value<input type="text" name="value"></td></tr>
             <tr><td><input type="submit" value="Submit"></td></tr>
     </table>
     {% csrf_token %}
     </form>
 {% endif %}
 {% endblock content %}
'''
labour id
Occupation
name
religion
Father name
Father nrc
date of birth
marital_status
spouse name
spouse NRC
'''