{% extends "main_base.html" %}
  
{% block title %}Delete Person{% endblock title %}
 
{% block content %}
  
  {% if submitted %}
     <div class="page-wrapper  p-t-45 p-b-50">

    <div class="wrapper wrapper--w790">

    <div class="card card-5">

    <div class="card-heading">

        <h2 class="title">Update information of a person from database</h2>

    </div>

    <div class="card-body">
 <p class="success" style="font-size: 20px; ">
         You have updated a person information successfully.
     </p>
 
   
         </div>
    </div>
    </div>
    </div>
    </div>
     
 {% else %}
   <div class="page-wrapper  p-t-45 p-b-50">

    <div class="wrapper wrapper--w790">

    <div class="card card-5">

    <div class="card-heading">

        <h2 class="title">Update information of a person from database</h2>

    </div>

    <div class="card-body">

     <form action="" method="post" novalidate>

        <!--NRC-->
    <div class="form-row">

    <div class="name">NRC</div>

    <div class="value">

    <div class="input-group">

        <input class="input--style-5" type="text" name="nrc">

    </div>

    </div>
    </div>

    <div class="value">

    <div class="input-group">

  </div>

    </div>

<br/>
<!--attribute-->
<div class="form-row">

    <div class="name">Attribute type</div>

    <div class="value">

    <div class="input-group">

    <div class="rs-select2 js-select-simple select--no-search">

     <select name="attribute">
    <option value="0">Select attribute:</option>
    <option value="labour_id ">labour id</option>
    <option value="occupation">Occupation</option>
    <option value="name">name</option>
    <option value="religion">religion</option>
    <option value="father_name">Father name</option>
    <option value="father_nrc">Father nrc</option>
    <option value="dob">date of birth</option>
    <option value="marital_status">marital status</option>
    <option value="spouse_name">spouse name</option>
    <option value="spouse_nrc">spouse NRC</option>

  </select>
    <div class="select-dropdown"></div>

    </div>

    </div>

    </div>

    </div><br/>
         <!--value-->
    <div class="form-row">

    <div class="name">value</div>

    <div class="value">

    <div class="input-group">

        <input class="input--style-5" type="text" name="value">

    </div>

    </div>
    </div>

    <div class="value">

    <div class="input-group">

  </div>

    </div>

<br/>
<!--end of value-->


  <button class="btn btn--radius-2 btn--red" type="submit">REQUEST</button>
     {% csrf_token %}
     </form>
         </div>
    </div>
    </div>
    </div>
    </div>

 {% endif %}
 {% endblock content %}


<!--end of file-->


<!--end of file-->
